html {
  background-color: #ffffff;
  font-family: sans-serif;
}

body {
   margin: 0 auto;
  width: 100%;
  padding: 0;
}

article {
  margin: 0 auto;
  width: 100%;
  max-width: 100ch;
  padding: 1rem;
  line-height: 1.5;
}

* {
  box-sizing: border-box;
}

h1 {
  margin: 1rem 0;
  font-size: 2.5rem;
}

a {
  text-decoration: none;
}

.whiteboxtext {
  color:black;
  background-color:#ffffff;
  max-width: fit-content;
  max-height: fit-content;
  border-radius: 6px;
  padding: 10px;
  padding-top: 7px;
  h1 {margin: 0;}
}

.tpheader h1 {
  margin: 0;
  line-height: 1;
}
.tpheader h3 {
  margin: 1rem 0;
  line-height: 0;
  color: #505050;
}